
<div class="wrapper">

  <h1> Create Itinerary Record </h1>

  <form method="POST" action='/travels'>
    <label for="itinerary">Itinerary</label><input type="text" name="itinerary" placeholder="itinerary"><br>
    <label for="outbound">Outbound Date</label><input type="text" name="date_leave" placeholder="outbound date"><br>
    <label for="return">Return Date</label><input type="text" name="date_return" placeholder="return date"><br>
    <label for="purpose">Travel Purpose</label><input type="text" name="travel_purpose" placeholder="travel purpose">
    <label for="notes">Notes</label><input type="text" name="notes" placeholder="notes"><br>

    <input type="submit" value="Create Record">
  </form>
</div>
