<h1> Personal Travel Log </h1><br>
<div class="wrapper">

  <h2>Keep a record of your travel for future reference.</h2>

  <h3><a href="/signup">Create an Account</a></h3><br>

  <h3><a href="/login">Login to Account</a></h3><br>

</div>
